#navbarCollapse3{
    font-weight: bolder!important;
}

footer.page-footer.font-small.mdb-color.pt-4 {
    background-color: rgb(69, 68, 68) !important;
}

i.fa.fa-phone-alt{
    color: #333 !important;
    line-height: 2;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #333 !important;
    transition: 0.35s;
}
i.far.fa-heart,i.fa.fa-user-circle{
    font-size: 20px;
}

.dropdown-toggle::after{
    font-size: 20px !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/Imagesofteam/car12.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

.search-Btn{
    width: 100%;
    margin-top: 0px !important;
    /* color: rgb(195, 59, 42) !important; */
    height: 50px !important;
}
.custom-select{
    height: 50px !important;
}
.mt{
    margin-top: 20% !important;
}
.bg-color{
    background-color: rgb(163, 153, 153) !important;
    color: rgb(125, 125, 125) !important;
    
    border-color: rgb(210, 214, 203) !important;
}
.font-w {
    color: white !important;
    font-weight: 900 !important;
}
.lead{
    color: white !important;
    font-weight: 300;
}

.modal-body{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.md-form.md-bg .form-control{
 padding: 0 !important;
}