#navbarCollapse3{
    font-weight: bolder!important;
}

footer.page-footer.font-small.mdb-color.pt-4 {
    background-color: rgb(69, 68, 68) !important;
}

i.fa.fa-phone-alt{
    color: #333 !important;
    line-height: 2;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #333 !important;
    transition: 0.35s;
}
i.far.fa-heart,i.fa.fa-user-circle{
    font-size: 20px;
}

.dropdown-toggle::after{
    font-size: 20px !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/Imagesofteam/car12.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

.search-Btn{
    width: 100%;
    margin-top: 0px !important;
    /* color: rgb(195, 59, 42) !important; */
    height: 50px !important;
}
.custom-select{
    height: 50px !important;
}
.mt{
    margin-top: 20% !important;
}
.bg-color{
    background-color: rgb(163, 153, 153) !important;
    color: rgb(125, 125, 125) !important;
    
    border-color: rgb(210, 214, 203) !important;
}
.font-w {
    color: white !important;
    font-weight: 900 !important;
}
.lead{
    color: white !important;
    font-weight: 300;
}

.modal-body{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.md-form.md-bg .form-control{
 padding: 0 !important;
}

.LoginModal-whatsappCheckWrap {
   
text-align: center !important;
    display: flex;
    padding-left: 23%;
    color: #888 !important;
    font-size: 14px;
    line-height: 18px;
    padding-top: 8px;
}
.LoginModal-terms {
    padding: 16px 0;
    font-size: 12px;
    color: #888 !important;
    font-family: futura-book;
}

.LoginModal__checkIcon.LoginModal__checked {
    background-color: #6300a3;
}

.LoginModal__loginHeading {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0 16px;
}

.LoginModal__checkIcon {
    width: 16px;
    height: 16px;
    border: 2px solid #6300a3;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.modal-header{
    border-bottom: none !important;
}

.LoginModal-getOtpBtnWrap {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #ed264f !important;
    border-top: 1px solid #f6f6f6;
    text-align: center;
    border: none !important;
    color: #fff !important;
}

/* .btn-default{
    background-color: #ed264f !important;

} */