#navbarCollapse3{
    font-weight: bolder!important;
}

footer.page-footer.font-small.mdb-color.pt-4 {
    background-color: rgb(69, 68, 68) !important;
}

i.fa.fa-phone-alt{
    color: #333 !important;
    line-height: 2;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #333 !important;
    transition: 0.35s;
}
i.far.fa-heart,i.fa.fa-user-circle{
    font-size: 20px;
}

.dropdown-toggle::after{
    font-size: 20px !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 50%), url("/images/Imagesofteam/car14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

.search-Btn{
    width: 100%;
    margin-top: 0px !important;
    /* color: rgb(195, 59, 42) !important; */
    height: 50px !important;
}
.custom-select{
    height: 50px !important;
}
.mt{
    margin-top: 20% !important;
}
.bg-color{
    background-color: rgb(163, 153, 153) !important;
    color: rgb(125, 125, 125) !important;
    
    border-color: rgb(210, 214, 203) !important;
}
.font-w {
    color: white !important;
    font-weight: 900 !important;
}
.lead{
    color: white !important;
    font-weight: 300;
}
.font-w1 {
    color: #333 !important;
    font-weight: 900 !important;
    text-align: left;
}
.lead1{
    color: #333 !important;
    font-weight: 400;
    text-align: left;
}

.modal-body{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.md-form.md-bg .form-control{
 padding: 0 !important;
}

.LoginModal-whatsappCheckWrap {
   
text-align: center !important;
    display: flex;
    padding-left: 23%;
    color: #888 !important;
    font-size: 14px;
    line-height: 18px;
    padding-top: 8px;
}
.LoginModal-terms {
    padding: 16px 0;
    font-size: 12px;
    color: #888 !important;
    font-family: futura-book;
}

.LoginModal__checkIcon.LoginModal__checked {
    background-color: #6300a3;
}

.LoginModal__loginHeading {
    font-size: 20px;
    line-height: 18px;
    margin: 0;
    padding: 0 16px;
}

.LoginModal__checkIcon {
    width: 16px;
    height: 16px;
    border: 2px solid #6300a3;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.modal-header{
    border-bottom: none !important;
}

.LoginModal-getOtpBtnWrap {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color:#e6540ff2 !important;
    border-top: 1px solid #f6f6f6;
    text-align: center;
    border-radius: 4px;
    border: none !important;
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}
/* .modal-dialog .modal-content {

    margin-top: 100px;
}
 */
 .interior-view,.slides-view{
    background: black;
    
   
}
.pnlm-fullscreen-toggle-button.pnlm-sprite.pnlm-fullscreen-toggle-button-inactive.pnlm-controls.pnlm-control {
    display: none !important;
}



/* carsouler */
.slider-container{
    width: 1000px !important;
 
}
.carName{
    font-weight: 600 !important;
    font-size: 1rem !important;
    color:#444747!important
    /* float: left !important; */
}
.heart-carName {
    display: flex;
    justify-content: space-between;
}
.rate{
    font-size: 0.875rem !important;
    margin-top: 2rem !important;
    float: left !important;
    margin-left: -88px;
}

.ratedate{
    margin-top: 4rem !important;
  
    margin-left: -130px;
}
.ratedate1{
    margin-top: 1rem !important;
    /* margin-left: -75px; */
    display: flex;
    justify-content: space-between;
}
.bnKmZw {
    background-color: rgb(244, 246, 245);
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3125rem;
}
.l{
    margin-left: 2%;
}


.ljwTDc {
    margin-top: auto;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    justify-content: space-between;
    /* padding: 1rem; */
}
.iFsKIn {
    font-size: 1.5rem;
    font-weight: 600;
}
.view-car{
    display: inline-block;
    text-align: center;
    color: rgb(223, 78, 60);
    line-height: 1;
    background-color: rgb(255, 255, 255);
    transition-property: border-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-weight: 900;
    font-size: 1.17rem;
    padding: 0.9375rem 1rem;
    text-decoration: none;
  width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 78, 60);
    border-image: initial;
    border-radius: 0.3125rem;
}
.view-car:hover{
    color: rgb(223, 78, 60) !important;
}

.content-section {
    width: 90%;
    position: relative;
    bottom: 2em;
    left: 5%;
    padding: 1em;
    color: #080808;
    background-color: #fff;
    border-radius: 5px;
    z-index: 2;
   
    box-shadow: 0 3px 6px #ec080850;
}

.content-section:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 75%;
    margin-left: -10px;
    bottom: auto;
    border: 10px solid hsla(0,0%,100%,0);
    border-top: 0;
    border-bottom-color: #fff;
}

.top-section {
    white-space: normal;
    font-family: futura-light;
    font-size: .9em;
    margin-bottom: 2em;
    min-height: 8em; 
}
.bottom-section {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: .8em;
}
.bottom-section .person-name {
    font-family: futura-black;
    /* color: #3b0364 !important; */
    font-weight: 700;
}
.bottom-section .car-name {
    font-family: futura-light;
    font-size: .9em;
}

/* search car button */
.search-car-btn {
  
   margin-top: 40px !important;
  
    font-size: 1.10rem !important;
    font-weight: 900 !important;
   
    cursor: pointer;
    opacity: 1;
    background-color: rgb(40, 40, 66);
    padding: 0.9375rem 1rem !important;
    text-decoration: none !important;
    border-width: initial !important;
    border-style: none !important; 
    border-color: initial !important;
    border-image: initial !important;
    border-radius: 0.3125rem !important;
    transition: background-color 0.3s ease-in-out 0s !important;
}

/* find your next car */

.find-car {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px auto;
    padding: 3rem;
}


/* .find-car-title {
    font-weight: 900;
    line-height: 3.25;
    font-size: 2.25rem !important;
} */

.find-car-btn {

    font-size: 1.17rem;
    font-weight: 900;
    /* line-height: 1; */
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 1;
    background-color: rgb(223, 78, 60);
    padding: 0.9375rem 1rem;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease-in-out 0s;
}
/* .find-car-btn:hover{
    background-color: rgb(223, 78, 60) !important;
} */

/* .row{
    margin-top: 20px;
} */
.css-dmx3ll-InputIcon-left{
    top:35px !important;
    padding-right: 12px !important;
    right: 0 !important;
    padding-left: unset !important;
    left: unset !important;
}
input#searchbox-downshift-input {
    border-radius: 4px;
}
.filter.col-md-3 {
    position: sticky !important;
    margin-top: 20px !important;
    border-radius: 6px;
    flex: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 20px !important;
    height: calc(100vh + 16px) !important;
    /* background: hsla(0,0%,67.5%,.2) !important; */
    box-shadow: 0 3px 16px rgba(0,0,0,.188235) !important;
    overflow-x: auto;
}

ul.css-1w1pnf0-UL.eekr4lp2 {
    list-style: none;
    margin: 0;
    max-height: 240px;
    position: relative;
    overflow-x: auto;
    float: left;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-top: 20px;
}
/* scrollbar  */


.scrollbar {
    overflow: scroll;
    height: 300px !important;
  }
  
  
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  
  /* custom colors  */
  .scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  .scrollbar-primary {
    scrollbar-color: #4285f4 #f5f5f5;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: hsla(0,0%,67.5%,.2);
    height: 50px !important;
  } 
  .css-i35pig-Slider .rheostat-progress{
    background-color: #0bb0ff !important;
  }
  .css-dmx3ll-InputIcon-left svg.search-icon{
      fill: #0bb0ff !important;
  }
  .css-9d37m9-Radio-vh + label::after{
      background-color: #0bb0ff !important;
  }
  svg.search-icon {
    height: 18px;
}
.btn.btn-lg {
    padding: 1rem 2.4rem;
    font-size: 14px !important;
    font-weight: 600 !important;
    width: 231px !important;
}
/* i.fa.fa-heart.ml-2 {
    float: right;
} */
body.modal-open {
    font-family: Roboto,Arial,sans-serif !important;
}
button.btn-deep-orange.btn.Ripple-parent.full-detail.btn-lg {
    margin-left: 900px;
    /* float: inline-end !important;     */
}
.mui-checkbox {
    text-align: initial;
}
input[type="checkbox"] {
    height: 20px;
    width: 34px;
}
.MuiListItem-root-109,.MuiListItem-root-206{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.MuiContainer-root.MuiContainer-maxWidthSm {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgb(226 48 48 / 21%);
    padding: 30px;
    border-radius: 4px;
}
.SellCar-top-banner {
    padding: 30px;
    /* height: 100vh; */
    min-height: 350px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 50%), url("/images/backgroundtopbanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.ContactForm-top-banner{
    padding: 30px;
    /* height: 100vh; */
    min-height: 450px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.753) 50%, rgba(0, 0, 0, 0) 90%), url("/images/contact-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1 !important;
    
}
.contact-us-form{
    /* margin-top: -60px; */
    z-index: 2 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* background: linear-gradient(to left bottom, rgba(244, 79, 16, 0.89) 0%, transparent 50.5%) center bottom no-repeat, linear-gradient(-10deg, rgb(251, 251, 251), rgb(245, 245, 245)) center top no-repeat; */
}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: #de1717 !important;
    width: 220px;
    height: 45px;
}
.MuiButton-containedSecondary {
    color: #fff;
    background-color: #655e5c !important;
    width: 220px;
    height: 45px;
}
.MuiButton-containedPrimary:hover {
    background-color: #b10a0ade !important;
}
.MuiButton-containedSecondary:hover {
    background-color: #4e4c4b !important;
}
.dropdown .dropdown-menu .dropdown-item:active {
    background-color: #fff;
    color: #ca0b0bde;
}
.hotspot {
    display: none;
}
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 30px !important;
    height: 30px !important;
}
button.close span {
    color: #fff !important;
}
.md-form.form-group {
    display: flex;
}
.md-form {
    display: flex;
}
.navbar.navbar-dark form .md-form .form-control {
    color: black !important;
    padding-left: 35px;
}
.chowzb:hover:enabled, .chowzb:focus:enabled {
    color: #fff;
    background-color: rgb(212 61 4) !important;
    box-shadow: 0 0 2px 0 #333;
}
textarea.md-textarea.form-control {
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}
.modal-backdrop.show {
    opacity: .9 !important;
}
.btn-outline-secondary {
    border: 2px solid #e04320 !important;
    background-color: transparent !important;
    color: #c54a0e !important;
}
button.close {
    text-shadow: -8px 4px 0px #333 !important;
}
h4.LoginModal__loginHeading {font-weight: 500;}
button.navbar-toggler {
    background: #eabea9;
}
.card.mb-2{
    margin: 10px !important;
    background: linear-gradient(to right bottom, rgb(255 71 1 / 28%) 0%, transparent 50.5%) center bottom no-repeat, linear-gradient(0deg, rgb(251, 251, 251), rgb(245 245 245 / 15%)) center top no-repeat;
}

.find-car-title {
    font-weight: 900;
    line-height: 1.25;
    font-size: 2.25rem !important;
    padding-bottom: 20px;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(227, 100, 44);
}
.find-car-btn:hover {
    background-color: rgb(193 17 17 / 88%) !important;
}
a:hover {
    text-decoration: none;
    color: #eff4fd;
    transition: all 0.2s ease-in-out;
}
.feature {
    margin-bottom: 0.5em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 2em;
    font-family: "futura-semibold";
}
.sale-detail-sec2{
    margin-top: 40px;
    min-height: 400px;
    background-image: linear-gradient(to top, rgb(239 159 119 / 53%) 0%, rgb(25 24 23 / 45%) 50%), url(/images/taxi-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;

}

.carousel .carousel-status{
    position: absolute;
    top: 0;
    left: 0 !important;
    right: unset;
    padding: 5px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    color: #fff;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 2.4 !important;
}
i.fa.fa-heart.ml-2 {
    color: #444747!important;
}   
button.btn-deep-orange.btn.Ripple-parent.btn-md {
    font-weight: 600;
}
.img-fluid-cards{
    width: 100%;
}
img.img-fluid {
    width: 100%;
}
.img-fluid-banner{
    width: 80%;
    height: 50px;
}
.top-strip{
    display: flex;
    justify-content:space-between;
}
.col-sm.mt-4.example.hoverable{
    padding: 0;
    margin-left: 10px;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-item.MuiGrid-grid-xs-12 {
    margin-left: 0;
    padding: 5px 0 5px 0;
}
.MuiGrid-spacing-xs-1 {
    width: calc(100% + 8px);
    margin: -8px !important;
    padding-left: 25px !important;
}
label.MuiFormControlLabel-root {
    margin: 0 10px 0 5px !important;
}